function fact 2
    push constant 1
    pop local 1

    push argument 0 
    pop local 0

    label LOOP 
        push local 0
        push constant 2
        lt 
        if-goto END

        push local 0
        push local 1
        call mult 2 
        pop local 1

        push local 0
        push constant 1
        sub
        pop local 0

        goto LOOP 
    
    label END 
    push local 1 
    return
